html, body {
    margin: 0px;
    padding: 0px;
    background-color: #2b532d;
    color: aliceblue;
}

.titulo {
    text-align: center;
    color: aliceblue;
    background-color: black;
    padding: 20px;
    font-size: 25px;
}

.carta {
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;
}

.cartas{
    height: 240px;
}